nav {

    background-color: $danger;

    .navbar-toggler {
        border-radius: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &:focus {
            box-shadow: none;
        }

    }

}

.nav-item {
    .nav-link.active {
        font-weight: bold;
        color: $warning;
    }
}