///////// product1 /////////

.product1-width {
    select {
        border-radius: 0;

        &:focus {
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .product1-width {
        width: 85%;
    }
}

@media screen and (max-width: 992px) {
    .product1-width {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .product1-width {
        width: 95%;
    }
}

@media screen and (max-width: 575.33px) {
    .product1-width {
        width: 70%;
        padding: auto 3rem;
    }
}

@media screen and (max-width: 460px) {
    .product1-width {
        width: 80%;
        padding: auto 2rem;
    }
}

@media screen and (max-width: 380px) {
    .product1-width {
        width: 95%;
        padding: auto;
    }
}

@media screen and (min-width: 1200px) {
    .product1-width {
        width: 85%;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}


///////// product2 /////////

.product2-images {
    img {
        width: 15%;
    }
}

.product2-addbtn {
    border: 1px solid black;
    border-radius: 20rem;
    width: 7rem;

    span:nth-child(2n+1) {
        font-size: 1.5rem;
        cursor: pointer;
    }

    span:nth-child(n+2) {
        font-size: 1rem;
        cursor: pointer;
    }
}

.product2-reviews {

    .review-center {
        width: 180px;
        height: 150px;
        margin: auto;
    }

    .stars,
    span {
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    .stars span {
        color: $warning;
    }

    img {
        border-radius: 50%;
    }

    input,
    textarea {
        border-radius: 0;
        margin-top: 0.5rem;

        &:focus,
        &textarea {
            box-shadow: none;
        }
    }

}